#!/bin/bash

export DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"
{% for cur_item in django_environment_vars %}
{% for var_name,var_value in cur_item.items() %}
export {{ var_name }}={{ var_value }}
{% endfor %}
{% endfor %}
