---
- name: Ensure celery pid directories are present
  file:
    state: directory
    owner: "{{ django_system_user }}"
    group: "{{ django_system_group }}"
    path: "{{ item }}"
  when:
    - item is defined
    - item is not none
  with_items:
    - "{{ django_celeryd_pid_directory }}"
    - "{{ django_celery_beat_pid_directory }}"

- name: Copy celeryd default script
  template:
    src: templates/etc/default/celeryd.j2
    dest: /etc/default/celeryd-{{ django_system_user }}
    mode: "0644"

- name: Copy celerybeat default script
  template:
    src: templates/etc/default/celerybeat.j2
    dest: /etc/default/celerybeat-{{ django_system_user }}
    mode: "0644"

- name: Copy celeryd upstart script
  template:
    src: "etc/systemd/celeryd.service.j2"
    dest: "/etc/systemd/system/{{ django_celeryd_service_name }}.service"
    mode: "0644"
  notify:
    - restart_celery

- name: Copy celerybeat upstart script
  template:
    src: "etc/systemd/celerybeat.service.j2"
    dest: "/etc/systemd/system/{{ django_celerybeat_service_name }}.service"
    mode: "0644"
  notify:
    - restart_celery
