---
- name: Get previous app deploy listing
  command: ls -tr1 chdir={{ django_versioned_path }}
  register: versioned_list
  tags:
    - skip_ansible_lint

- name: Remove extra files from app directroy
  ansible.builtin.file:
    path: "{{ django_versioned_path }}/{{ versioned_list.stdout_lines[item | int] }}"
    state: absent
  with_sequence: start=0 end={{ versioned_list.stdout_lines | length - 10 if versioned_list.stdout_lines | length > 10 else 1 }}
  when: versioned_list.stdout_lines | int > 10
