---
- name: Run Django init commands
  django_manage:
    command: "{{ item }}"
    app_path: "{{ django_checkout_path }}"
    virtualenv: "{{ django_venv_path }}"
  with_items: "{{ django_init_commands }}"
  become_user: "{{ django_system_user }}"

- name: Changing static folder permission
  file:
    path: "{{ django_static_path }}"
    owner: "{{ django_system_user }}"
    group: "{{ django_system_group }}"
    mode: 0755
  when:
    - django_static_path is defined
    - django_static_path is not none

- name: Changing mediafolder permission
  file:
    path: "{{ django_media_path }}"
    owner: "{{ django_system_user }}"
    group: "{{ django_system_group }}"
    mode: 0755
  when:
    - django_media_path is defined
    - django_media_path is not none

- name: Make the new codebase current
  file:
    src: "{{ django_checkout_path }}"
    dest: "{{ django_codebase_path }}"
    state: link
    force: yes
    owner: "{{ django_system_user }}"
    group: "{{ django_system_group }}"
  notify:
    - restart_service
    - restart_celery

- name: Copy uwsgi.ini
  template:
    src: uwsgi.ini.j2
    dest: "{{ django_checkout_path }}/uwsgi.ini"
    mode: 0644
    owner: "{{ django_system_user }}"
    group: "{{ django_system_group }}"
  notify:
    - restart_service