import os

BASE_DIR = os.path.dirname(os.path.dirname(__file__))
SITE_ID = 1
DATABASES = {
    "default": {"ENGINE": "django.db.backends.sqlite3", "NAME": "sqlite3.db"}}
STATICFILES_DIRS = (os.path.join(BASE_DIR, "static"),)
CACHES = {
    "default": {"BACKEND": "django.core.cache.backends.dummy.DummyCache"}}
STATIC_ROOT = "{{ django_static_path }}"
STATIC_URL = "/static/"
MEDIA_ROOT = "{{ django_media_path }}"
MEDIA_URL = "/media/"
EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"
EMAIL_HOST = "localhost"
EMAIL_PORT = 1025
DEFAULT_FROM_EMAIL = "Hello World <hello@example.com>"
ALLOWED_HOSTS = []
DEBUG = True
SECRET_KEY = "secr3t"
