---
- name: restart_service
  systemd:
    name: "{{ django_service_name }}"
    state: restarted
    enabled: true
    daemon_reload: true
  when:
    - django_manage_services| bool

- name: restart_celery
  systemd:
    name: "{{ item }}"
    state: restarted
    enabled: true
    daemon_reload: true
  with_items:
    - "{{ django_celeryd_service_name }}"
    - "{{ django_celerybeat_service_name }}"
  when:
    - django_enable_celery| bool
    - django_manage_services| bool