---
- name: reload systemctl
  command: systemctl daemon-reload
  when:
    - manage_services == True

- name: restart_service
  service:
    name: "{{ service_name }}"
    state: restarted
  when:
    - manage_services == True

- name: restart_celery
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - "{{ celeryd_service_name }}"
    - "{{ celerybeat_service_name }}"
  when:
    - enable_celery == True
    - manage_services == True
