[Unit]
Description=uWSGI {{ django_service_name }} web app
After={{ django_service_unit_after}}

[Service]
Type={{ django_service_type }}
Restart={{ django_service_restart }}
RuntimeDirectory={{ django_service_name }}
WorkingDirectory={{ django_codebase_path }}
User={{ django_system_user }}
Group={{ django_service_group }}
ExecStart={{ django_venv_path }}/bin/uwsgi --ini {{ django_codebase_path }}/uwsgi.ini --env DJANGO_SETTINGS_MODULE={{ django_settings_module }}


[Install]
WantedBy={{ django_service_install_wantedby }}
